html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  padding: 0px;
  margin: 0px;
  background-color: #E6E6E0;
  font-family: 'Fjalla One', sans-serif; }

body::-webkit-scrollbar {
  display: none; }

/**
 * Basic styles for links
 */
a {
  text-decoration: none;
  color: white; }

li {
  list-style-type: none; }

/**
 * Basic typography style for copy text
 */
.nav {
  height: 7vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap; }
  .nav::after {
    clear: both;
    content: "";
    display: table; }
  .nav img:hover {
    cursor: pointer; }
  .nav ul {
    justify-content: flex-end;
    width: 70%;
    display: flex;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px; }
    .nav ul li {
      padding: 10px 3% 10px 3%; }
      .nav ul li i {
        font-size: 10px; }
      .nav ul li a:hover {
        color: #DC7725; }

.hero {
  background-image: url("../img/heroImage.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  justify-content: space-around; }
  .hero .heroText {
    opacity: .9;
    position: relative;
    top: -15%;
    text-align: center; }
    .hero .heroText h2 {
      font-size: 22px;
      font-weight: lighter;
      letter-spacing: 4px;
      margin-bottom: 0; }
    .hero .heroText h1 {
      font-family: 'Merriweather', serif;
      font-size: 110px;
      font-weight: lighter;
      letter-spacing: 4px;
      margin: 0; }
    .hero .heroText hr {
      width: 35%;
      border: 2px solid white; }
  .hero .exploreButton {
    background-color: #DC7725;
    padding: 5px 25px 5px 25px;
    cursor: pointer;
    font-size: 12px;
    letter-spacing: 2px; }

/*Search bar styles ----------------------*/
.searchbarWrapper {
  height: 12vh;
  background: #343433; }
  .searchbarWrapper .searchbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #C9C9B8;
    font-family: sans-serif;
    border-top: 2px solid rgba(0, 0, 0, 0.6);
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.6);
    letter-spacing: 1px; }
    .searchbarWrapper .searchbar ul {
      display: flex; }
      .searchbarWrapper .searchbar ul li {
        margin: 1%;
        padding: 10px; }
        .searchbarWrapper .searchbar ul li:hover {
          color: white;
          cursor: pointer; }
      .searchbarWrapper .searchbar ul li:first-child {
        color: white; }
        .searchbarWrapper .searchbar ul li:first-child:hover {
          color: #DC7725; }
      .searchbarWrapper .searchbar ul li:last-child {
        color: #DC7725;
        border-left: 1px solid #C9C9B8;
        padding-left: 20px; }
    .searchbarWrapper .searchbar .search {
      display: flex;
      align-items: center;
      margin-right: 5%; }
      .searchbarWrapper .searchbar .search:hover {
        color: white;
        cursor: pointer; }

/* Trip gallery styles ----------------------------*/
.tripsGallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%; }
  .tripsGallery .tripBox {
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    border: 1px solid white;
    padding: 2%;
    transition: transform .4s; }
    .tripsGallery .tripBox:hover i {
      transition: transform .4s;
      transform: scale(1.3); }
    .tripsGallery .tripBox i {
      align-self: center;
      margin-bottom: 80px;
      background: #343433;
      font-size: 2em;
      opacity: .8;
      border-radius: 50%;
      padding: 30px 35px 30px 35px; }
    .tripsGallery .tripBox .tripBoxText .orangeLine {
      width: 50px;
      border: 3px solid #DC7725; }
  .tripsGallery #rafting {
    width: 50%;
    background: url("../img/home-raft.jpg");
    background-size: cover;
    background-position: center; }
  .tripsGallery #baseCamp {
    width: 25%;
    background: url("../img/home-basecamp.jpg");
    background-size: cover;
    background-position: center; }
  .tripsGallery #backpacking {
    width: 25%;
    background: url("../img/home-backpacking.jpg");
    background-size: cover;
    background-position: center; }
  .tripsGallery #canoe {
    width: 25%;
    background: url("../img/home-canoe.jpg");
    background-size: cover;
    background-position: center; }
  .tripsGallery #photography {
    width: 25%;
    background: url("../img/home-photo.jpg");
    background-size: cover;
    background-position: center; }
  .tripsGallery #custom {
    width: 50%;
    background: url("../img/home-custom.jpg");
    background-size: cover;
    background-position: center; }

/* Extra Content styles ----------------------------*/
.testimonials {
  background-image: url("../img/bg-testimonials.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 60vh; }

/*# sourceMappingURL=main.css.map */
