/*Search bar styles ----------------------*/

.searchbarWrapper {
  height: 12vh;
  background: $backgroundBrown;
  @media screen and #{$brk-medium} {
    display: none;
  }
  .searchbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $textCream;
    font-family: sans-serif;
    border-top: 2px solid rgba(0, 0, 0, 0.6);
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.6);
    letter-spacing: 1px;
    ul {
      display: flex;
      li {
        margin: 1%;
        padding: 10px;
        &:hover {
          color: $white;
          cursor: pointer;
        }
      }
      li:first-child {
        color: $white;
        &:hover {
          color: $exploreOrange;
        }
      }
      li:last-child {
        color: $exploreOrange;
        border-left: 1px solid $textCream;
        padding-left: 20px;
      }
    }
    .search {
      display: flex;
      align-items: center;
      margin-right: 5%;
      &:hover {
        color: $white;
        cursor: pointer;
      }
    }
  }
}


/* Trip gallery styles ----------------------------*/

.tripsGallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  .tripBox {
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: $white;
    padding: 2%;
    -webkit-transition: transform .4s;
    transition: transform .4s;
    &:hover {
      cursor: pointer;
      i {
        -webkit-transition: transform .4s;
        transition: transform .4s;
        transform: scale(1.3);
      }
    }
    i {
      -webkit-transition: transform .4s;
      transition: transform .4s;
      transform: scale(1);
      align-self: center;
      margin-bottom: 80px;
      background: rgba($backgroundBrown, 1);
      font-size: 2em;
      opacity: .8;
      border-radius: 50%;
      padding: 30px 35px 30px 35px;
      @media screen and #{$brk-small} {
        margin-bottom: 0px;
        font-size: 1.5em;
        padding: 20px 25px 20px 25px;
      }
    }
    .tripBoxText {
      .orangeLine {
        width: 40px;
        border: 3px solid $exploreOrange;
      }
      h3 {
        width: 80%;
        @include text(20px, lighter);
        @media screen and #{$brk-medium} {
          @include text(23px);
        }
        @media screen and #{$brk-small} {
          @include text(22px);
        }
      }
    }
    @media screen and #{$brk-small} {
      margin: 5% 5% 0 5%;
    }
  }
  #rafting {
    width: 50%;
    background: url("#{$path-img}/home-raft.jpg");
    background-size: cover;
    background-position: center;
    @media screen and #{$brk-medium} {
      width: 100%;
    }
    @media screen and #{$brk-small} {
      height: 260px;
    }
  }
  #baseCamp {
    width: 25%;
    background: url("#{$path-img}/home-basecamp.jpg");
    background-size: cover;
    background-position: center;
    @media screen and #{$brk-medium} {
      width: 50%;
    }
    @media screen and #{$brk-small} {
      height: 260px;
      width: 100%;
    }
  }
  #backpacking {
    width: 25%;
    background: url("#{$path-img}/home-backpacking.jpg");
    background-size: cover;
    background-position: center;
    @media screen and #{$brk-medium} {
      width: 50%;
    }
    @media screen and #{$brk-small} {
      height: 260px;
      width: 100%;
    }
  }
  #canoe{
    width: 25%;
    background: url("#{$path-img}/home-canoe.jpg");
    background-size: cover;
    background-position: center;
    @media screen and #{$brk-medium} {
      width: 50%;
    }
    @media screen and #{$brk-small} {
      height: 260px;
      width: 100%;
    }
  }
  #photography {
    width: 25%;
    background: url("#{$path-img}/home-photo.jpg");
    background-size: cover;
    background-position: center;
    @media screen and #{$brk-medium} {
      width: 50%;
    }
    @media screen and #{$brk-small} {
      height: 260px;
      width: 100%;
    }
  }
  #custom {
    width: 50%;
    background: url("#{$path-img}/home-custom.jpg");
    background-size: cover;
    background-position: center;
    @media screen and #{$brk-medium} {
      width: 100%;
    }
    @media screen and #{$brk-small} {
      height: 260px;
      width: 100%;
    }
  }
}

/* Extra Content styles ----------------------------*/

.testimonials {
  background-image:url("#{$path-img}/bg-testimonials.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 60vh;
}
