// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------


.hero {
  background-image:url("#{$path-img}/heroImage.jpg");
  background-size: cover;
  height: 100vh;
  height: 100vh;
}
