// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------


.hero {
  background-image:url("#{$path-img}/heroImage.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  justify-content: space-around;
  .heroText {
    opacity: .9;
    position: relative;
    top: -15%;
    text-align: center;
    @media screen and #{$brk-medium} {
      top: -7%;
    }
    @media screen and #{$brk-small} {
      top: 0;
    }
    h2 {
      @include text(22px, lighter, $l-spacing: 4px);
      margin-bottom: 0;
      @media screen and #{$brk-medium} {
        @include text(18px);
      }
      @media screen and #{$brk-small}  {
        @include text(14px);
      }
    }
    h1 {
      font-family: 'Merriweather', serif;
      @include text(110px, lighter, $l-spacing: 4px);
      margin: 0;
      @media screen and #{$brk-medium} {
        @include text(70px);
      }
      @media screen and #{$brk-small}  {
        @include text(50px);
      }
    }
    hr {
      width: 35%;
      border: 2px solid white;
    }
  }
  @media screen and #{$brk-medium} {
    height: 45vh;
    justify-content: center;
  }
  @media screen and #{$brk-small} {
    justify-content: flex-start;
    padding-top: 5%;
  }
}
