.nav {
  @include size(100% 7vh);
  display: flex;
  align-items: center;
  justify-content: center;
  @include outer-container(95%);
  @media screen and #{$brk-medium} {
    display: none;
  }
  .logoImg {
    flex: 1 1 auto;
    text-align: center;
    &:hover {
      cursor: pointer;
    }
  }
  ul {
    justify-content: space-around;
    display: flex;
    flex: 1.3 1.3 auto;
    padding-left: 0;
    text-transform: uppercase;
    @include text(16px, $l-spacing: 1px);
    li a{
      display: flex;
      padding: 10px 3% 10px 3%;
      i {
        font-size: 10px;
        padding: 5px 0 5px 5px;
      }
    }
    .dropdownMenu {
      position: absolute;
      display: none;
      background: $dropdownGray;
      z-index: 1;
      color: $textCream;
      width: 250px;
      border-radius: 0 0 2px 2px;
      p {
        border-bottom: 1px solid $textCream;
        text-transform: none;
        padding: 0px 15px 10px 10px;
        font-family: sans-serif;
        font-weight: lighter;
        &:hover {
          color: $white;
        }
      }
    }
    #dropdownMenu1 {
      top: 177px;
      right: 42%;
    }
    #dropdownMenu2 {
      top: 177px;
      right: 30.75%;
    }
    #dropdownMenu3 {
      top: 177px;
      right: 19.75%;
    }
    #dropdownMenu4 {
      top: 177px;
      right: 11.5%;
    }
  }
}

a.dropdown:hover {
  background: $dropdownGray;
  color: $white;
  border-radius: 2px 2px 0 0;
  .dropdownMenu {
    display: block;
  }
}

li a.orangeHover:hover {
  color: $exploreOrange;
}


.mobileNav {
  display: none;
  @media screen and #{$brk-medium} {
    display: flex;
    padding-bottom: 30px;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    .logoImg {
      width: 90%;
      img {
        width: 220px;
      }
    }
    .dropdownButton{
      font-size: 30px;
      &:hover {
        cursor: pointer;
        color: $exploreOrange;
      }
    }
  }
}
