// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.exploreButton {
  background-color: $exploreOrange;
  padding: 5px 25px 5px 25px;
  cursor: pointer;
  @include text(12px, $l-spacing:2px);
  @media screen and #{$brk-small} {
    display: none;
  }
}
#triangle-down {
  position: absolute;
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 10px solid $exploreOrange;
  left: 50%;
  transform: translate(-50%, 0);
  @media screen and #{$brk-small} {
    display: none;
  }
}
