// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.exploreButton {
  background-color: $exploreOrange;
  padding: 5px 25px 5px 25px;
  cursor: pointer;
  @include text(12px, $l-spacing:2px);
  @media screen and #{$brk-small} {
    display: none;
  }
}
